In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np
from math import sqrt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('Social_Network_Ads_Logistic.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [11]:
df.head(n=2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [12]:
gender=pd.get_dummies(df['Gender'])
df=pd.concat([df, gender], axis=1)
df.head(n=2)

    User ID Gender  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   Male   19            19000          0       0     1
1  15810944   Male   35            20000          0       0     1

In [13]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased', 'Female',
       'Male'],
      dtype='object')

In [14]:
df = df[['Age', 'EstimatedSalary', 'Purchased', 'Female','Male']]

In [15]:
y = df['Purchased']

In [16]:
X = df.drop(['Purchased'], axis=1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25)

In [18]:
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

LogisticRegression()

In [22]:
log_reg.intercept_

array([-1.98042571e-10])

In [26]:
log_reg.coef_

array([[-7.76749812e-10, -1.89832196e-06, -8.16019200e-11,
        -1.16440651e-10]])

In [28]:
feature_cols = X.columns
coeffs=pd.DataFrame(list(zip(feature_cols, log_reg.coef_[0])), columns=['feature','coef'])
coeffs.set_index('feature', inplace=True)
coeffs.sort_values('coef', ascending=False).head(15)

                         coef
feature
Female          -8.160192e-11
Male            -1.164407e-10
Age             -7.767498e-10
EstimatedSalary -1.898322e-06

In [31]:
y_preds=log_reg.predict(X_test)
print('preds', list(y_preds[:10]))
print('truth', list(y_test[:10]))

preds [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
truth [0, 0, 0, 0, 1, 1, 0, 0, 0, 0]

In [32]:
print(len(y_preds))
print(len(y_test))

100
100

In [33]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_preds, y_test))

0.7

In [34]:
print(y_train.value_counts())

0    187
1    113
Name: Purchased, dtype: int64

In [35]:
baseline_preds = np.empty(len(y_test))
baseline_preds.fill(False)
print(accuracy_score(baseline_preds, y_test))

0.7